<!DOCTYPE html> <html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Acerca de la clase</h1>
    <p>Curso: {{course}}</p>
    <p>Profesor: {{teacher}}</p>
    <p>Fecha: {{date}}</p>

</body>
</html>